<strong>Olá, {{ organizer }}</strong>
<p>Houve uma inscrição no seu evento {{ meetup }}, confira os detalhes abaixo:</p>
<p>
  <strong>Pessoa: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
  <small>
    Você receberá novas atualizações por e-mail :D
  </small>
</p>
